{% if transactions %}
    <div class="table-list">
        <div class="table-list-header">
            <div>Date</div>
            <div>Amount</div>
            <div>Comment</div>
            <div>Payment type</div>
            <div>Actions</div>
        </div>
        {% for transaction in transactions %}
            <form action="{% url "edit_transactions" project.id transaction.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="selected_year" value="{{ year }}">
                <input type="hidden" name="selected_month" value="{{ month }}">
                <div class="table-list-form">
                    <div class="table-list-form-item">
                        <label>
                            <input type="date" name="date" value="{{ transaction.date|date:"Y-m-d" }}">
                        </label>
                    </div>
                    <div class="table-list-form-item">
                        <label>
                            <input type="text" name="amount" value="{{ transaction.amount }}">
                        </label>
                    </div>
                    <div class="table-list-form-item">
                        <label>
                            <input type="text" name="comment" value="{{ transaction.comment }}">
                        </label>
                    </div>
                    <div class="table-list-form-item">
                        <label>
                            <select name="transaction_type">
                                {% for value, type in transaction_types %}
                                    {% if value == transaction.transaction_type %}
                                        <option value="{{ value }}" selected>{{ type }}</option>
                                    {% else %}
                                        <option value="{{ value }}">{{ type }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </label>
                    </div>
                    <div class="table-list-form-item">
                        <input class="cyan lighten-2 btn" name="save" type="submit" value="Save">
                        <input class="cyan lighten-2 btn" name="remove" type="submit" value="Remove">
                    </div>
                </div>
            </form>
        {% endfor %}
    </div>
    {% csrf_token %}
{% else %}
    No payments
{% endif %}