{% extends "base.html" %}
{% block title %} Project {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="breadcrumbs">
            <a href="{% url "all_projects" %}">Projects</a>
            -
            <span>{{ project.name }}</span>
        </div>

        <h4>Project {{ project.name }}</h4>

        <div class="project-items">
            <div class="project-left">
                <form action="{% url "choose_month_project" project.id %}" method="post">
                    {{ choose_month_form.as_p }}
                    {% csrf_token %}
                </form>

                <h6 class="mt-5">Add payment:</h6>
                {% include "transaction/add_transaction.html" with project=project form=transaction_form %}
                <h6 class="mt-5">Payment list:</h6>
                {% include "transaction/edit_transactions.html" with project=project transaction_types=transaction_types %}
            </div>
            <div class="project-right">
                <h6>Report:</h6>
                <ul>
                    <li>Month payment: <b>{{ report.month_amount }}p.</b></li>
                </ul>

                <div class="project-chart">
                    <canvas id="myChart" width="400" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let ctx = document.getElementById('myChart');
            if(ctx) {
            ctx = ctx.getContext('2d');

            const myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: {{ report.types|safe }},
                    datasets: [{
                        label: '',
                        data: {{ report.amount }},
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    legend: {
                        display: false
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        }
            })
    </script>
{% endblock %}