{% extends "base.html" %}
{% block title %} Reset your password {% endblock %}

{% block content %}
    <div class="landing">
        <div class="container">
            <div class="row">
                <div class="col push-l3 l6">
                    <h4 class="center mb-5">Forgotten your password?</h4>

                    <p class="center">Enter your e-mail address to obtain a new password.</p>

                    <form action="." method="post">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <div class="d-flex justify-center">
                            <input class="cyan lighten-2 btn" type="submit" value="Send e-mail">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}