{% extends "base.html" %}
{% block title %} Reset your password {% endblock %}

{% block content %}
    <div class="landing">
        <div class="container">
            <div class="row">
                <div class="col push-l2 l8">
                    <h4 class="center mb-5">Reset your password</h4>
                    <p class="center">We've emailed you instructions for setting your password.</p>
                    <p class="center">If you don't receive an email, please make sure you've entered the address you registered with.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}